<section class="traning-categories black-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="single-topic text-center mb-30">
          <div class="topic-img">
            <img src="assets/img/gallery/cat1.png" alt="">
            <div class="topic-content-box">
              <div class="topic-content">
                <h3>Individualni treninzi</h3>
                <p>Poboljšanje zdravstvenog statusa te sportskih performansi u cilju postizanja vrhunskih rezultata</p>
                <a href="" class="border-btn">Kursevi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="single-topic text-center mb-30">
          <div class="topic-img">
            <img src="assets/img/gallery/cat2.png" alt="">
            <div class="topic-content-box">
              <div class="topic-content">
                <h3>Grupni treninzi</h3>
                <p>Muški i zenski grupni treninzi za početnike, napredne rekreativce i profesionalne sportaše</p>
                <a href="" class="border-btn">Kursevi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
