<div class="header-area header-transparent">
  <div class="main-header header-sticky">
    <div class="container-fluid">
      <div class="menu-wrapper d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <div class="logo">
          <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
        </div>
        <!-- Main-menu -->
        <div class="main-menu f-right d-none d-lg-block">
          <nav>
            <ul id="navigation">
              <li><a href="">Početna</a></li>
              <li><a href="">O meni</a></li>
              <li><a href="">Kursevi</a></li>
              <li><a href="">Galerija</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Kontakt</a></li>
            </ul>
          </nav>
        </div>
        <!-- Header-btn -->
        <div class="header-btns d-none d-lg-block f-right">
          <a href="contact.html" class="btn">Kontaktiraj me</a>
        </div>
        <!-- Mobile Menu -->
        <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</div>
