<footer>
  <!--? Footer Start-->
  <div class="footer-area black-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- Footer Menu -->
        <div class="row">
          <div class="col-xl-12">
            <div class="single-footer-caption mb-50 text-center">
              <!-- logo -->
              <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <a><img src="assets/img/logo/footer_logo.png" alt=""></a>
              </div>
              <!-- Menu -->
              <!-- Header Start -->
              <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                <div class="main-header main-header2">
                  <div class="menu-wrapper menu-wrapper2">
                    <!-- Main-menu -->
                    <div class="main-menu main-menu2 text-center">
                      <nav>
                        <ul>
                          <li><a routerLink="/">Home</a></li>
                          <li><a routerLink="/about">O meni</a></li>
                          <li><a routerLink="/courses">Kursevi</a></li>
                          <li><a routerLink="/gallery">Galerija</a></li>
                          <li><a routerLink="/blog">Blog</a></li>
                          <li><a routerLink="/contact">Kontakt</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Header End -->
              <!-- social -->
              <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                <a href="https://www.facebook.com/igor.abdihodzic" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/igorabdihodzic/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:igor.abdihodzic@gmail.com"><i class="fas fa-at"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->

      <div class="footer-bottom">
        <div class="footer_flex">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            <div class="footer-copy-right text-center">
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
          <div class="developer_info">
            <div class="made_by">Made by Jusuf Topić</div>
            <div class="footer-social" data-wow-duration="3s" data-wow-delay=".8s">
              <a href="https://jusuf-topic.com" target="_blank"><i class="fas fa-globe"></i></a>
              <a href="https://www.linkedin.com/in/jusuf-topic-407789200/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="mailto: jusuftopic@yahoo.com" target="_blank"><i class="fas fa-at"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
