<app-preloader></app-preloader>
<app-hero-sub [title]="title"></app-hero-sub>
<app-about></app-about>
<div class="certificate-section">
  <p class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Certifikati</p>
  <div class="certificates">
    <img class="right-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" src="assets/img/certificates/certificate1.jpg">
    <img class="left-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" src="assets/img/certificates/certificate2.jpg">
  </div>
</div>

