<section class="about-area2 fix pb-padding pt-50 pb-80">
  <div class="support-wrapper align-items-center">
    <div class="right-content2">
      <!-- img -->
      <div class="right-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
        <img src="assets/img/gallery/about.jpeg" alt="">
      </div>
    </div>
    <div class="left-content2">
      <!-- section tittle -->
      <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
        <div class="front-text">
          <h2 class="about-me">O meni</h2>
          <p>Moje ime je Igor Abdihodžić. Certificirani sam CFSC L1&2 trener. Područje mog rada je izgradnja snage,
            očuvanje zdravlja te poboljšanje sportskih performansi rekreativaca, amatera i profesionalnih atleta.
            Kroz razne edukacije i seminare sam upoznao efikasne tehnike, koje redovno primjenjujem u svom radu.
           </p>
          <p class="mb-40">Osim individualnih priprema, u ponudi su i grupni treninzi namjenjeni raznim potrebama. O tome više:</p>
          <a routerLink="/courses" class="border-btn">Više</a>
        </div>
      </div>
    </div>
  </div>
</section>
