.container{
  margin-top: 250px;
  margin-left: 50px;
}


@media only screen and (min-width: 390px) and (max-width: 430px){

  .slider-area{

    background-size: 100%;
  }

  .slider-area .hero__caption{

  }

  .hero__caption h1{
    display: none;
  }

  .hero__caption span{
    font-size: 35px;
    margin-left: 30px;
    display: none;
  }
}

@media only screen and (min-width: 310px) and (max-width: 399px){


  .slider-area{

    background-size: 100%;
  }

  .slider-area .hero__caption{

  }

  .hero__caption h1{
    display: none;
  }

  .hero__caption span{
    font-size: 22px;
    display: none;
  }
}


@media only screen and (max-width: 330px) {

  .slider-area{

    background-size: 100%;
  }

  .slider-area .hero__caption{
    width: 330px;
  }
  .hero__caption h1{
    display: none;
  }
  .hero__caption span{
    font-size: 25px;
    display: none;
  }
}
