<div class="slider-area position-relative">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-10">
            <div class="hero__caption">
              <span data-animation="fadeInLeft" data-delay="0.1s">Igor Abdihodžić</span>
              <h1 data-animation="fadeInLeft" data-delay="0.4s">CFSC L1&2</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
