
<p>Ime i Prezime: Igor Abdihozić</p>
<p>Kontakt email adresa: <a href="mailto:igor.abdihodzic@gmail.com"></a>igor.abdihodzic@gmail.com</p>
<p>Pravna osnova za prikupljanje i korištenje osobnih podataka opisanih u ovoj Politici privatnosti ovisi o osobnim podacima koje prikupljamo i specifičnom kontekstu u kojem prikupljamo podatke:</p>
<ul >
  <li>Igor Abdihozić treba s Vama sklopiti ugovor</li>
  <li>Igoru Abdihodžiću dajete dozvolu da to učini</li>
  <li>Obrada vaših osobnih podataka je u legitimnom interesu Igora Abdihozića</li>
  <li>Igor Abdihozić treba poštovati zakon</li>
</ul>

<p>Igor Abdihozić će zadržati vaše osobne podatke samo onoliko dugo koliko je potrebno za svrhe navedene u ovoj Politici privatnosti. Zadržat ćemo i koristiti vaše podatke u mjeri koja je potrebna za ispunjavanje naših zakonskih obveza, rješavanje sporova i provođenje naših pravila.</p>

<p>Ako ste stanovnik Europskog gospodarskog prostora (EEA), imate određena prava na zaštitu podataka. Ako želite biti informirani koje osobne podatke imamo o vama i ako želite da se oni uklone iz naših sustava, kontaktirajte nas.</p>
<p>U određenim okolnostima imate sljedeća prava na zaštitu podataka:</p>
<ul>
  <li>Pravo na pristup, ažuriranje ili brisanje podataka koje imamo o vama.</li>
  <li>Pravo na ispravak</li>
  <li>Pravo na prigovor</li>
  <li>Pravo ograničenja</li>
  <li>Pravo na prenosivost podataka</li>
  <li>Pravo na povlačenje privole</li>
</ul>

<h2>Log fajlovi</h2>

<p>USSTempo slijedi standardni postupak korištenja log datoteka. Ove datoteke bilježe posjetitelje kada posjećuju web stranice. Sve hosting tvrtke to rade i dio analitike hosting usluga. Podaci koje prikupljaju datoteke dnevnika uključuju adrese internetskog protokola (IP), vrstu preglednika, davatelja internetskih usluga (ISP), datum i vremensku oznaku, stranice za upućivanje/izlaz i eventualno broj klikova. Oni nisu povezani ni s kakvim podacima koji mogu osobno identificirati. Svrha informacija je analiza trendova, administriranje stranice, praćenje kretanja korisnika na web stranici i prikupljanje demografskih podataka.</p>




<h2>Politika privatnosti</h2>

<p>Možete pogledati ovaj popis kako biste pronašli Pravila o privatnosti za svakog od oglašivačkih partnera USSTempa.</p>

<p>Oglasni poslužitelji ili oglasne mreže trećih strana koriste tehnologije kao što su kolačići, JavaScript ili Web Beacons koji se koriste u njihovim odgovarajućim oglasima i vezama koje se pojavljuju na USSTempu, a koje se šalju izravno u preglednik korisnika. Oni automatski primaju vašu IP adresu kada se to dogodi. Te se tehnologije koriste za mjerenje učinkovitosti njihovih reklamnih kampanja i/ili za prilagodbu reklamnog sadržaja koji vidite na web stranicama koje posjećujete.</p>

<p>Imajte na umu da USSTempo nema pristup niti kontrolu nad tim kolačićima koje koriste oglašivači trećih strana.</p>

<p>Podaci prikupljeni na ovoj stranici se <b>ne spremaju</b> u bazu podataka te sluze iskljucivo da bi se uputila kontkakt poruka <br>
  na email adresu(igor.abdihodzic@gmail.com). Proces se odvija putem servisa https://formspree.io/ te ukoliko ne pristajete na to, molim Vas da <br>
  me kontktirate na email adresu navedenu na vrhu.
</p>

<h2>Politika privatnosti trećih strana</h2>

<p>USSTempo Politika privatnosti ne primjenjuju se na druge oglašivače ili web stranice. Stoga vam savjetujemo da pogledate odgovarajuća Pravila privatnosti ovih oglasnih poslužitelja trećih strana za detaljnije informacije. Može uključivati njihovu praksu i upute o tome kako se isključiti iz određenih opcija. </p>

<p>Možete odabrati da onemogućite kolačiće putem pojedinačnih opcija preglednika. Da biste saznali detaljnije informacije o upravljanju kolačićima s određenim web preglednicima, možete ih pronaći na odgovarajućim web stranicama preglednika.</p>

<h2>Informacije o djeci</h2>

<p>Drugi dio našeg prioriteta je zaštita djece tijekom korištenja interneta. Potičemo roditelje i skrbnike da promatraju, sudjeluju i/ili prate i usmjeravaju svoje aktivnosti na mreži.</p>

<p>USSTempo svjesno ne prikuplja nikakve osobne identifikacijske podatke od djece mlađe od 13 godina. Ako mislite da je vaše dijete dalo ovakvu vrstu informacija na našoj web stranici, snažno vas potičemo da nas odmah kontaktirate, a mi ćemo učiniti sve što je u našoj moći da ih brzo uklonimo takve informacije iz naše evidencije.</p>

<h2>Samo online pravila o privatnosti</h2>

<p>Naša Pravila privatnosti odnose se samo na naše mrežne aktivnosti i vrijede za posjetitelje naše web stranice u vezi s podacima koje su podijelili i/ili prikupili u USSTempu. Ova se pravila ne odnose na informacije prikupljene izvan mreže ili putem drugih kanala osim ove web stranice.</p>

<h2>Pristanak</h2>

<p>Korištenjem naše web stranice pristajete na našu Politiku privatnosti i slažete se s njezinim uvjetima.</p>
