
<p>Ime i Prezime: Igor Abdihozić</p>
<p>Kontakt email adresa: <a href="mailto:igor.abdihodzic@gmail.com"></a>igor.abdihodzic@gmail.com</p>

<h2>Informacije Koje Ne Skupljamo</h2>
<p>Želimo biti transparentni u vezi s podacima koje ne skupljamo. Naša web aplikacija ne skuplja niti aktivno pohranjuje osobne informacije, kao što su imena, email adrese ili kontakt informacije.</p>

<h2>Usluge Treće Strane</h2>
<p>Iako mi direktno ne skupljamo podatke korisnika, možemo koristiti usluge i alate trećih strana, kao što su usluge analitike, kako bismo unaprijedili performanse naše web stranice i korisničko iskustvo. Ove usluge mogu neovisno skupljati nepersonalizirane podatke.</p>

<h2>Kolačići (Cookies)</h2>

<p>Mi ne koristimo kolačiće (cookies) na našoj web stranici. Ne koristimo nikakve tehnologije za praćenje niti skupljamo podatke putem kolačića. Vaše iskustvo pregledavanja na našem sajtu nije utemeljeno na kolačićima, i nije potrebno da ih upravljate putem postavki vašeg preglednika.</p>


<h2>Kontaktirajte Nas</h2>

<p>Ako imate bilo kakvih pitanja ili briga u vezi s našim praksama privatnosti, slobodno nas kontaktirajte na igor.abdihodzic@gmail.com.</p>

<h2>Izmjene ove Politike Privatnosti</h2>

<p>Ažurirati cemo ovu politiku privatnosti kako bismo odražavali promjene u našim praksama obrade podataka ili pravne zahtjeve. Sve izmjene će biti objavljene na ovoj stranici.</p>

<h2>Pristanak</h2>

<p>Korištenjem naše web stranice, pristajete na uvjete navedene u ovoj politici privatnosti.</p>
