.overlay{
  display: none;
}

#photo1:hover #overlay1{
  display: block;
}

#photo2:hover #overlay2{
  display: block;
}
#photo3:hover #overlay3{
  display: block;
}
#photo4:hover #overlay4{
  display: block;
}
#photo5:hover #overlay5{
  display: block;
}
#photo6:hover #overlay6{
  display: block;
}

#photo5{
  padding-left: 80px;
}

.col-xl-3 .box{
  width: 401px;
  height: 406px;
  cursor: pointer;
}

.col-xl-3 .box .big-img{
  width: 401px;
  height: 406px;
}

.gallery-img{
  border-radius: 15px;
}

.box:hover{
  transform: scale(1.1);

  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition:transform  0.4s ease-in-out;
  -ms-transition:transform  0.4s ease-in-out;
}

#photo6{
  padding-left: 120px;
}

@media screen and (max-width: 1046px){


  #photo6{
    display: none;
  }

  #photo5{
    display: none;
  }
}

@media only screen and (min-width: 410px) and (max-width: 510px){

#photo1,#photo2,#photo3,#photo4,#photo5{
  width: 380px;
  height: 300px;
}

.box.snake{
    width: 380px;
    height: 300px;
  }

  .gallery-area .box .overlay{
    width: 380px;
    height: 300px;
  }


  .gallery-area .box .big-img{
    width: 380px;
    height: 230px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 409px){
  #photo1,#photo2,#photo3,#photo4,#photo5{
    width: 320px;
    height: 280px;
  }
  #photo5{
    padding-left: 0;
  }

  .gallery-area .box .overlay{
    width: 290px;
    height: 230px;
  }
  .row{
    margin-left: 0;
  }

  .box.snake{
    width: 290px;
    height: 300px;
  }

  .gallery-area .box .big-img{
    width: 290px;
    height: 230px;
  }
}


@media only screen and (min-width: 200px) and (max-width: 320px){
  #photo1,#photo2,#photo3,#photo4,#photo5{
    width: 280px;
    height: 190px;
  }
  #photo5{
    padding-left: 0;
  }

  .gallery-area .box .overlay{
    width: 230px;
    height: 170px;
  }
  .row{
    margin-left: 0;
  }

  .gallery-area .box.snake{
    width: 230px;
    height: 150px;
  }

  .gallery-area .box .big-img{
    width: 230px;
    height: 150px;
  }
}



