<div class="gallery-area section-padding30 ">
  <div class="container-fluid ">
    <div class="row">
      <div id="photo1" class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
          <div id="overlay1" class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="photo2" class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
          <div  id="overlay2" class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="photo3" class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
          <div id="overlay3" class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="photo4" class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
          <div id="overlay4" class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="photo5" class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery5.png);"></div>
          <div id="overlay5"  class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="photo6" class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="box snake mb-30">
          <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery6.png);"></div>
          <div id="overlay6" class="overlay">
            <div class="overlay-content">
              <h3>Pogledaj galeriju</h3>
              <a href=""><i class="ti-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
