.img-fluid{
  width: 115px;
  height: 95px;
}


.blog-subtitle{
  color: white;
}

.fa-user{
  color: white;
}

.blog-info-link a{
  color: white;
}

.post_item img {
  width: 90px;
  height: 90px;
}
