.dashboard-wrapper * {
  color: white;
}

.dashboard-header{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.dashboard-header h2{
 margin-left: 20px;
}

.dashboard-header button{
  margin-right: 30px;
  width: 90px;
  font-size: 15px;
}

.dashboard-content{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.dashboard-content div{
  width: 280px;
  height: 100px;
  border: 1px solid red;
  background-color: transparent;
  border-radius: 20px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.dashboard-content div:hover{
  transform: scale(1.1);

  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition:transform  0.4s ease-in-out;
  -ms-transition:transform  0.4s ease-in-out;
}

@media screen and (max-width: 350px){
  .dashboard-header h2 {
    font-size: 17px;
  }

  .dashboard-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}


@media screen and (max-width: 349px) and (min-width: 310px){
 .dashboard-content div{
  width: 260px;
  height: 90px;
  margin: 25px;
  font-size: 34px;
}
}

@media screen and (max-width: 309px) and (min-width: 281px){
  .dashboard-header h2 {
    font-size: 15px;
  }

  .dashboard-header button{
    width: 80px;
    font-size: 14px;
  }
  .dashboard-content div{
    width: 240px;
    height: 80px;
    margin: 25px;
    font-size: 30px;
  }
}


@media screen and (max-width: 280px) and (min-width: 250px){
  .dashboard-header h2 {
    font-size: 13px;
  }

  .dashboard-header button{
    width: 65.5px;
    font-size: 12px;
  }

  .dashboard-content div{
    width: 220px;
    height: 70px;
    margin: 15px;
    font-size: 27px;
  }
}


