<app-preloader></app-preloader>
<app-hero-sub [title]="title"></app-hero-sub>
<div *ngIf="admin" class="dashboard-wrapper">
  <div class="dashboard-header">
    <h2>Admin: {{admin.firstname}} {{admin.lastname}}</h2>
    <div *ngIf="logOutError"></div>
    <button type="button" class="btn-secondary" (click)="onLogOut()">Odjava</button>
  </div>
  <div *ngIf="showContent" class="dashboard-content" @fadeSlideInOut>
    <div (click)="onTrainingClick()">Treninzi</div>
    <div (click)="onBlogClick()">Blog</div>
  </div>
</div>
