<app-preloader></app-preloader>
<app-hero-sub [title]="title"></app-hero-sub>
<section class="pricing-area section-padding30 fix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-tittle text-center mb-55">
          <h2>Kursevi</h2>
        </div>
      </div>
    </div>
    <div  *ngIf="coursesGroup" class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let course of coursesGroup">
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </div>
</section>

