<app-preloader></app-preloader>
<app-hero-sub [title]="title"></app-hero-sub>
<section class="pricing-area section-padding30 fix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-tittle text-center mb-55">
          <h2>Kursevi</h2>
        </div>
      </div>
    </div>
    <div  *ngIf="coursesGroup" class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let course of coursesGroup">
        <div class="properties mb-30">
          <div class="properties__card">
            <div class="about-icon">
              <img src="assets/img/icon/price.svg" alt="">
            </div>
            <div class="properties__caption">
              <span class="month">{{course.name}}</span>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Probni trening</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Pratnja trenera</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>{{course.intendedFor}}</p>
                </div>
              </div>
              <div class="single-features mb-20">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>{{course.purpose}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

