<app-preloader></app-preloader>
<app-hero-sub [title]="title"></app-hero-sub>
<section class="pricing-area section-padding30 fix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section-tittle text-center mb-55">
          <h2>Kursevi</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="properties mb-30">
          <div class="properties__card">
            <div class="about-icon">
              <img src="assets/img/icon/price.svg" alt="">
            </div>
            <div class="properties__caption">
              <span class="month">Basic rekretivci M/Ž</span>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Probni trening</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Pratnja trenera</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Za rekreativce</p>
                </div>
              </div>
              <div class="single-features mb-20">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Plaćanje po mjesec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="properties mb-30">
          <div class="properties__card">
            <div class="about-icon">
              <img src="assets/img/icon/price.svg" alt="">
            </div>
            <div class="properties__caption">
              <span class="month">Napredni program M/Ž</span>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Probni trening</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Pratnja trenera</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Za napredne rekreativce</p>
                </div>
              </div>
              <div class="single-features mb-20">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Plaćanje po mjesec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="properties mb-30">
          <div class="properties__card">
            <div class="about-icon">
              <img src="assets/img/icon/price.svg" alt="">
            </div>
            <div class="properties__caption">
              <span class="month">Kids Gym 1 (3-5 godina)</span>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Probni trening</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Pratnja trenera</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Osnovna motorika</p>
                </div>
              </div>
              <div class="single-features mb-20">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Plaćanje po mjesec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="properties mb-30">
          <div class="properties__card">
            <div class="about-icon">
              <img src="assets/img/icon/price.svg" alt="">
            </div>
            <div class="properties__caption">
              <span class="month">Kids Gym 2 (6-8 godina)</span>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Probni trening</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Pratnja trenera</p>
                </div>
              </div>
              <div class="single-features">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Razvojna motorika</p>
                </div>
              </div>
              <div class="single-features mb-20">
                <div class="features-icon">
                  <img src="assets/img/icon/check.svg" alt="">
                </div>
                <div class="features-caption">
                  <p>Plaćanje po mjesec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

