.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

form{
  width: 350px;
  height: 380px;
  border-radius: 25px;
  border: 1px solid white;
  padding: 20px;
  background-color: white;
}

form *{

}

.form-section{
  margin-bottom: 40px;
}

/*.e-float-input{
 margin-bottom: 30px;
}*/

.form-section h2{
  font-size: 30px;
}

.e-float-text{
  color: white;
}

.button-section{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button{
  width: 120px;
  height: 40px;
  font-size: 18px;
}

.disable{
  background-color: grey;
  border-color: grey;
}

.no-errors{
  margin-bottom: 40px;
}

.error-message{
  margin-bottom: 20px;
}

#firebase-error{
  margin-top: -12px;
}

@media screen and (min-width: 310px) and (max-width: 400px) {
  form{
    width: 275px;
  }
}

@media screen and (max-width: 309px) {
  form{
    width: 235px;
    height: 340px;
  }

  .button-section{
    margin-top: 17px;
  }
}
